
li {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.903);
    padding:0px;
}

p {
    padding: 0px;
}
ul {

    padding:4px;
}


h1 {
   height:1px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-bottom: 30px;
}

h2 {
   
   

}
h3 {
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
    display: flex;
    height:1px;
 }


 
.body {
    width:100%;
    background-color: #ffffff;

    
}
.dailyChartHead {
    justify-content: center;
    padding:0px;
    width: 100%;
    
}

.text-xl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.ai_table {

    width:90%;
    font-size: 13pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5px;
    
    vertical-align: top;
    justify-content: left;

}

.ai_disclaimer {
    width:100%;
    font-size: 14pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5px;
    color:red;
    vertical-align: top;
    justify-content: left;
}
.dateSelect {
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 5px;
    color: rgb(0, 113, 83);
    width:140px;
    border-width: 2px;
 
    border-color: rgb(0, 0, 0);
}

.btnDateSelect {
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
   
    border-width: 0px;
 
}


.scoreboard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 11pt;
padding: 8px;
}

.results_table {

    background-color: #f5f3f0;
    width:90%;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* background-color: #d8cbb5; */
}
  
.events_table {

    width:100%;
    font-size: 11pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    text-align: center;
   /* justify-content: center;*/
   
    /* background-color: #d8cbb5; */
}
.events_detail {

    display:inline;
    /*width:95%;*/
    font-size: 11pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    background-color: #b9b9b9;
}

.classYellowBold {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    font-weight: bolder;
    color: rgb(78, 78, 78);
}

.classYellowBold-image-container {
    width: 50px;                /* set a width */
    height: 45px;               /* set a height */
    background-image: url('../public/images/green-buttons.png');  /* specify the image path */
    background-size:50px;      /* ensure the image covers the container */
    background-position:top; /* center the image */
    background-repeat: no-repeat;/* prevent the image from repeating */
    vertical-align: top;
  }


.imagebutton1 {
    width:50px;
}



.classRedBold {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    font-weight: bolder;
    color: rgba(255, 56, 56, 0.903);
    vertical-align:top;
}

.classRedBold-image-container {
    width: 50px;                /* set a width */
    height: 45px;               /* set a height */
    background-image: url('../public/images/red-needle.png');  /* specify the image path */
    background-size:50px;      /* ensure the image covers the container */
    background-position:top; /* center the image */
    background-repeat: no-repeat;/* prevent the image from repeating */
    vertical-align: top;
  }







.classOrangeBold {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    font-weight: bolder;
    color: rgba(144, 112, 51, 0.983);
}

.classOrangeBold-image-container {
    width: 50px;                /* set a width */
    height: 45px;               /* set a height */
    background-image: url('../public/images/red-buttons.png');  /* specify the image path */
    background-size:50px;      /* ensure the image covers the container */
    background-position:top; /* center the image */
    background-repeat: no-repeat;/* prevent the image from repeating */
    vertical-align: top;
  }






.classGreenBold {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    height: 45px;               /* set a height */
    font-weight: bolder;
    color: rgba(7, 124, 1, 0.903);
}

.classGreenBold-image-container {
    width: 50px;                /* set a width */
    height: 40px;               /* set a height */
    background-image: url('../public/images/good-job.png');  /* specify the image path */
    background-size:50px;      /* ensure the image covers the container */
    background-position:top; /* center the image */
    background-repeat: no-repeat;/* prevent the image from repeating */
    vertical-align: top;

}

.button-header {
    padding: 8px;
    vertical-align:baseline;
    text-align: left;
    }

.button-container {
    display: flex;
    justify-content: left;
    gap: 35px;
    padding: 7px;
    
    
}

/* Base button styles */
.gradient-btn {
    width: 97%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    height: min-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect */
.gradient-btn:hover {
    transform: scale(1.03);
    width:97%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Unique gradients for each button */

.btnearly {
    background: linear-gradient(135deg, #3697f8, #185a9d);
}
.btnexpected {
    background: linear-gradient(135deg, #b1a910,#b1a910);
}

.btn2 {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.btncorrection {
    background: linear-gradient(135deg, #ff5f65,#ff5f65);
}

.btn {
    background: linear-gradient(135deg, #185a9d, #43cea2);
}

.btnsupplemental {
    background: linear-gradient(135deg, #ff4b1f, #f8db01);
}

.btnSpike {
    background: linear-gradient(135deg, #43cea2,  #bccd01);
}